.term-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.term-title {
    font-size: 2rem;
    color: #4d6569;
}

.term-title:first-letter {
    text-transform: capitalize;
}

.term-desc {
    font-size: 1.2rem;
    color: #4d6569;
}

.term-desc:first-letter {
    text-transform: capitalize;
}

.link-wrapper {
    display: inline-block;
    border-radius: 5px;
    background: #4d6569;
    width: fit-content;
}

.back-link {
    display: inline-block;
    color: #f0d3c1;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
}